@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;500;700&display=swap');

body{
    font-family: "merriweather", serif;
    margin: 0;
}
header{
    /* width: 100%; */
    background-image: url(images/fondo_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    /* border: solid 10px black; */
    /* border-radius: 1%; */
}
h1{
    margin: 0;
    color: white;
    padding: 20px 200px 0px 200px;
}
header h3{
    color: white;
    padding: 0px 200px;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: white 5px solid;
}
header p{
    color: white;
    margin: 4px 200px;
    background-color: rgba(45, 42, 42, 0.793);
    border-radius: 10px;
    padding: 10px;
}

footer{
    background-color: #1e3a8a;
    text-align: center;
    padding: 10px;
}
footer p{
    color: white;
    margin: 0;
}

a img{
    width: 30px;
    height: 30px;
    margin: 0px 2px 0px 2px;
}
main{
    /* background-image: url(images/prueba.jpg); */
    background-color: rgb(1, 13, 88);
    padding: 10px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
main h3,
main h2{
        color: #1e3a8a;

}
section{
    background-color: rgba(255, 255, 255, 0.874);
    margin: 0px 200px;
    padding: 20px;
    border: #005eaa 5px dashed;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
li p,
li h3{
    display: inline-block;
    vertical-align: middle;
}
li h3{
    width: 500px;
}
li p{
    margin: auto 30px;
}
.header-content {
    display: block;
    /* overflow: hidden; */
}

.header-container {
    display: inline-block;
    width: calc(100% - 400px); 
    /* vertical-align: top; */
}
.title-section{
    margin-top: 20px;
}
.title-section img{
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 0px;
}
.title-section img,
.title-section h2{
    display: inline-block;
    vertical-align: middle;
}

.wide-hr {
    border: none;
    height: 3px;
    background-color: #1e3a8a;
    margin: 20px 0;
    border-radius: 2px;
}

a {
    color: #1e3a8a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
