body{
    margin: 0;
}
header{
    /* width: 100%; */
    background-image: url(https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHBhdHRlcm58ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
h1{
    margin: 0;
    color: white;
    padding: 20px 50px 0px 50px;
}
h3{
    color: white;
    padding: 0px 50px;
}
img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    text-align: right;
}
p{
    color: white;
    padding: 0px 50px;
}
.header-container{
    display: inline-block;
}